
/* latin-ext */
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Bebas Neue Regular'), local('BebasNeue-Regular'), url(fonts/Bebas-Neue-Regular-Latinext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Bebas Neue Regular'), local('BebasNeue-Regular'), url(fonts/Bebas-Neue-Regular-Latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(fonts/Josefin-Sans-Regular-Latinext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(fonts/Josefin-Sans-Regular-Latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.container {
    max-width: 720px;
    margin: 0px auto;
    padding: 0px 24px;
}

/* TITLE SECTION */
header {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/header1440.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1, h2, h3, h4, address {
    font-family: 'Bebas Neue', sans-serif;
    color: wheat;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

h1 {
    text-align: center;
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h4 {
    color: white;
}

/* MENU SECTION */
#menu {
    min-height: 400px;
    padding: 8px 0px 16px 0px;
    display: flex;
    align-items: center;
    background: rgb(20, 15, 5);
}

#menu-title, h3 {
    text-align: center;
}

#menu-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#menu-lists section {
    padding: 0px 32px;
}

ul {
    padding-left: 16px;
}

/* ABOUT SECTION */
#about {
    min-height: 400px;
    display: flex;
    align-items: center;
    background-image: url("images/about1440.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    line-height: 1.5;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

#about .container {
    background: rgba(0, 0, 0, .75);
}

#staff {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(20, 15, 5);
    text-align: center;
}

#staff-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.staff-card {
    padding: 0px 16px 0px 16px;
}

.staff-card img {
    height: 150px;
    border-radius: 50%;
}

@media (max-width: 411px) {

    .staff-card img {
        height: 100px;
    }
}

footer {
    text-align: center;
    background: black;
}

/* CONTACT SECTION */
#contact {
    background: rgb(20, 15, 5);
}

#addresses {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 416px) {

    #addresses {
        height: 275px;
    }

}

footer address {
    padding: 0px 32px;
}

footer p {
    margin: 0px;
    padding: 16px 0px;
}

footer a {
    text-decoration: none;
    color: wheat;
}